.topTable{
    display: flex;
    justify-content: flex-end;
    padding: 2rem 2.5rem;
}

.leftTopTable {
    margin-right: 3rem;
}

.selectStyle{
    margin-top: -0.2rem !important;
    font-weight: var(--bold-weight) !important;
    font-size: var(--smaller-size) !important;
}

.selectStatus {
    margin-left: 1rem !important;
}

.attendColor {
    color: var(--active-color)
}

.absentColor {
    color: var(--inactive-color)
}

.weekendColor {
    color: var(--gray-color)
}

.holidayColor {
    color: var(--gray-color)
}

.searchInput {
    height: 45px !important;
    border: none !important;
    width: 339px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: flex !important;
    justify-content: center !important;
    outline: none !important;
    font-weight: var(--medium-weight) !important;
    background: var(--search-background-color) 0% 0% no-repeat padding-box !important;
    border-radius: 10px !important;
    opacity: 1 !important;
    font-size: var(--body-size) !important;
}
